*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', sans-serif;
}

body{
  height:100vh;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.app{
  width:450px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  border-radius:20px;
  padding:25px;
  box-shadow:0 15px 40px rgba(0,0,0,0.6);
}

h1{
  text-align:center;
  margin-bottom:15px;
}

.input-area{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-bottom:20px;
}

.row{
  display:flex;
  gap:10px;
}

input, select{
  padding:10px;
  border:none;
  border-radius:10px;
  outline:none;
}

input[type="text"]{
  width:100%;
}

button{
  padding:10px;
  border:none;
  border-radius:10px;
  background:#00ffcc;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
  background:#00e6b8;
}

ul{
  list-style:none;
  max-height:300px;
  overflow-y:auto;
}

li{
  background:rgba(0,0,0,0.5);
  padding:12px;
  border-radius:12px;
  margin-bottom:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:14px;
  animation:fadeIn 0.4s ease;
}

.priority{
  font-size:11px;
  padding:3px 6px;
  border-radius:6px;
  margin-right:6px;
}

.high{ background:#ff4d4d; }
.medium{ background:#ffaa00; }
.low{ background:#00c853; }

.time{
  font-size:12px;
  opacity:0.8;
  margin-top:4px;
}

.overdue{
  border-left:5px solid red;
}

.delete{
  cursor:pointer;
}

.delete:hover{
  color:red;
}

@keyframes fadeIn{
  from{opacity:0; transform:translateY(10px);}
  to{opacity:1; transform:translateY(0);}
}
